
USE MASTER
GO

CREATE DATABASE [B2B_DB]
GO

USE [B2B_DB]
GO
/****** Object:  Table [dbo].[ErrorMessage]    Script Date: 2026/03/25 07:27:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorMessage](
	[ErrorMessageId] [int] IDENTITY(1,1) NOT NULL,
	[Controller] [varchar](100) NOT NULL,
	[Action] [varchar](100) NOT NULL,
	[Message] [varchar](max) NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[DateActioned] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 2026/03/25 07:27:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[OrderedById] [uniqueidentifier] NOT NULL,
	[DateActioned] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2026/03/25 07:27:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](100) NOT NULL,
	[ProductSku] [varchar](20) NOT NULL,
	[ProductPrice] [money] NOT NULL,
	[ProductUnitQuantity] [int] NOT NULL,
	[ProductCategory] [varchar](100) NULL,
	[ActionedById] [uniqueidentifier] NOT NULL,
	[DateActioned] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductOrder]    Script Date: 2026/03/25 07:27:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductOrder](
	[ProductOrderId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[OrderUnitQuantity] [int] NOT NULL,
	[OrderProductPrice] [money] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 2026/03/25 07:27:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](20) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleFunctions]    Script Date: 2026/03/25 07:27:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleFunctions](
	[FunctionId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NULL,
	[FunctionName] [varchar](225) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2026/03/25 07:27:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [uniqueidentifier] NOT NULL,
	[Firstname] [varchar](20) NOT NULL,
	[Lastname] [varchar](20) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[RoleId] [int] NOT NULL,
	[DateActioned] [datetime] NOT NULL,
	[Gender] [varchar](10) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderId], [OrderedById], [DateActioned]) VALUES (1, N'3c1a3445-fb59-4bb5-488a-08de86ec84d0', CAST(N'2026-03-21T09:06:44.163' AS DateTime))
INSERT [dbo].[Order] ([OrderId], [OrderedById], [DateActioned]) VALUES (2, N'3c1a3445-fb59-4bb5-488a-08de86ec84d0', CAST(N'2026-03-21T09:09:34.953' AS DateTime))
INSERT [dbo].[Order] ([OrderId], [OrderedById], [DateActioned]) VALUES (3, N'3c1a3445-fb59-4bb5-488a-08de86ec84d0', CAST(N'2026-03-21T10:49:06.180' AS DateTime))
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductId], [ProductName], [ProductSku], [ProductPrice], [ProductUnitQuantity], [ProductCategory], [ActionedById], [DateActioned]) VALUES (3, N'Fabian T-Shirt', N'Fabian-Blue-LG', 1200.0000, 3, NULL, N'2449db1d-304b-41c4-900b-cd5369d30b81', CAST(N'2026-03-21T05:54:37.857' AS DateTime))
INSERT [dbo].[Product] ([ProductId], [ProductName], [ProductSku], [ProductPrice], [ProductUnitQuantity], [ProductCategory], [ActionedById], [DateActioned]) VALUES (4, N'Polo T-Shirt', N'Polo-White-SM', 800.0000, 6, N'T-Shirt', N'2449db1d-304b-41c4-900b-cd5369d30b81', CAST(N'2026-03-21T06:32:47.300' AS DateTime))
INSERT [dbo].[Product] ([ProductId], [ProductName], [ProductSku], [ProductPrice], [ProductUnitQuantity], [ProductCategory], [ActionedById], [DateActioned]) VALUES (5, N'Nike Shoe', N'Nike-Red-Shoe', 2500.0000, 5, N'Shoe', N'2449db1d-304b-41c4-900b-cd5369d30b81', CAST(N'2026-03-21T06:35:33.470' AS DateTime))
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductOrder] ON 

INSERT [dbo].[ProductOrder] ([ProductOrderId], [OrderId], [ProductId], [OrderUnitQuantity], [OrderProductPrice]) VALUES (1, 2, 3, 2, 2400.0000)
INSERT [dbo].[ProductOrder] ([ProductOrderId], [OrderId], [ProductId], [OrderUnitQuantity], [OrderProductPrice]) VALUES (2, 3, 4, 4, 3200.0000)
INSERT [dbo].[ProductOrder] ([ProductOrderId], [OrderId], [ProductId], [OrderUnitQuantity], [OrderProductPrice]) VALUES (3, 4, 5, 10, 25000.0000)
SET IDENTITY_INSERT [dbo].[ProductOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (2, N'Customer')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[RoleFunctions] ON 

INSERT [dbo].[RoleFunctions] ([FunctionId], [RoleId], [FunctionName]) VALUES (1, 1, N'Add Product')
INSERT [dbo].[RoleFunctions] ([FunctionId], [RoleId], [FunctionName]) VALUES (2, 1, N'Retrieve Order')
INSERT [dbo].[RoleFunctions] ([FunctionId], [RoleId], [FunctionName]) VALUES (3, 2, N'Submit Order')
SET IDENTITY_INSERT [dbo].[RoleFunctions] OFF
GO
INSERT [dbo].[User] ([UserId], [Firstname], [Lastname], [Email], [Password], [RoleId], [DateActioned], [Gender]) VALUES (N'2449db1d-304b-41c4-900b-cd5369d30b81', N'Tsaleni', N'Maswanganye', N'dbsnholeni4@gmail.com', N'dobson007', 1, CAST(N'2026-03-21T03:46:46.013' AS DateTime), N'Male')
INSERT [dbo].[User] ([UserId], [Firstname], [Lastname], [Email], [Password], [RoleId], [DateActioned], [Gender]) VALUES (N'3c1a3445-fb59-4bb5-488a-08de86ec84d0', N'Andile', N'Maswanganye', N'andile.holeni@gmail.com', N'andile1', 2, CAST(N'2026-03-21T03:52:31.530' AS DateTime), N'Female')
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [DateActioned]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (getdate()) FOR [DateActioned]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (newid()) FOR [UserId]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [DateActioned]
GO
